<h4>Current brands in this store:</h4>

<% if @store.brands.any? %>
  <ul>
    <% @store.brands.each do |brands| %>
      <li><%= brands.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no brands yet!</p>
<% end %>

<p><a href="/stores/<%= @store.id() %>/edit">Edit store</a></p>

<h4>Add new brands to this store:</h4>

<form action="/stores/<%= @store.id() %>/brands" method="post">
  <div class="form-group">
    <select name="brand_id">
      <% @available_brands.each do |brand| %>
        <option value="<%= brand.id %>"><%= brand.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button btn-info">Add brand to store!</button>
</form>


<h4><a href="/stores/<%= @store.id() %>">Back to my store!</a></h4>

<p><a href="/">Return to Home Page</a></p>
