<h4>Current brands in this store:</h4>

<% if @store.brands.any? %>
  <ul>
    <% @store.brands.each do |brands| %>
      <li><%= brands.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No brands yet!</p>
<% end %>
<br>

<h4>Add new brands to this store:</h4>
<form action="/stores/<%= @store.id() %>/brands" method="post">
  <div class="form-group">
    <select name="brand_id">
      <% @available_brands.each do |brand| %>
        <option value="<%= brand.id %>"><%= brand.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button">Add brand to store</button>
</form>
<br>
<br>
<h5><a href="/stores/<%= @store.id() %>">Back to my store!</a></h5>

<p><a href="/">Return to Home Page</a></p>
