<h2>Store Locations</h2>
<br>

<h4>Current store: <strong><%= @store.title() %><strong>:</h4>  <p><a href="/stores/<%= @store.id() %>/edit"> Edit Store name</a><p>
<h4>Current Brands in <%= @store.title() %></h4>
  <% if @store.brands.any? %>
    <ul>
      <% @store.brands.each do |brands| %>
        <li><%= brands.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p><em>No brands in this store yet</em></p>
  <% end %>

<p><button type="button" class="btn"><a href="/stores/<%= @store.id() %>/brands">Add shoe brands to this store</a></button></p>

<p><a href="/">Return to Home Page</a></p>
