<h2>Welcome to the Stores Page</h2>
<h1> Store: <%= @store.title() %></h1>


<% if @stores.any?() %>
  <p>Click on a Store to see information about it and add brands to it:</p>

  <ul>
    <% @stores.each do |store| %>
    <li><a href="/stores/<%= store.id() %>"><%= store.title() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores added yet!</p>
<% end %>


  <h4>Current brands in this store:</h4>

  <% if @store.brands.any? %>
    <ul>
      <% @store.brands.each do |brands| %>
        <li><%= brands.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p><em>There are no brands yet!</em></p>
  <% end %>

<a href="/stores/<%= @store.id() %>/edit"> Edit Store name</a>

 <button type="button" class="btn btn-outline-info"><a href="/stores/<%= @store.id() %>/brands">Add shoe brands to this store</a></button>

<p><a href="/">Return to Home Page</a></p>
